{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <img src="public/images/logo_matta.png" alt="">
    <h1>Hello World !</h1>
    <div>
        <a href="https://mattaphp.matteo-bonneval.fr" target="_blank">Documentation</a> | 
        <a href="https://github.com/matteobnvl/mattaphp" target="_blank">Github</a>
    </div>
{% endblock %}